@import url('https://fonts.googleapis.com/css2?family=Mate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

 body {
      margin-top: 5rem;
      color: #333333;
      font-family: 'Zen Kurenaido', sans-serif;
    }

    p {
        font-size:20px;
    }

    .bg-steel {
      background-color: #5f788a;
    }

    .site-header .navbar-nav .nav-link {
        color: white;
    }

    .site-header .navbar-nav .nav-link:hover {
        color: skyblue;
    }

    .site-header .navbar-nav .nav-link.active {
        font-weight: bold;
    }

    .content-section:hover {
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    }

    .content-section {
  background: #ffffff;
  padding: 5px 10px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  word-wrap: break-word;
  box-sizing: border-box;


}


a {
    cursor: pointer;
    text-decoration: none;
    font-size: medium;

}


h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}


.account-heading {
  font-size: 2.5rem;
}

.content-footer {
  margin: 50px 0;
  padding: 20px 0;
  text-align: center;
  background-color: #73A8C2;
  text-decoration: none;
}

.content-footer > p {
  color: #F7EDE1;
}
