{% extends 'base.html' %}
{% block content %}
<h2 class ="text-center mb-3" style="border: 2px solid black; border-radius: 2px; padding: 5px;">Campaigns Available.</h2>
<div class="alert alert-primary" role="alert">
<p><b>Note: Once you have opened the poll you can't attend that poll again..</b></p>
</div>
{% if latest_candidate_list %}
{% for campaign in latest_candidate_list %}

<div class = "content-section">
<div class ="card-mb-3">
	<div class ="card-body">
		<p>Campaign name: <b>{{ campaign.organization_name }}</b></p>
		<b>Published On: {{ campaign.pub_date }}</b><br><br>
		
		<a href ="{% url 'campaigns:detail' campaign.id %}" class ="btn btn-primary btn-sm"><b>Cast your vote</b></a>
		{% comment %} <a href ="{% url 'campaigns:results' campaign.id %}" class ="btn btn-secondary btn-sm">Results</a> {% endcomment %}
	</div>
</div>
</div>
{% endfor %}
{% else %}

<p>No Campaigns available</p>

{% endif %}
{% endblock %}
